body {
  margin: 0;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
    background-color: #3570e8;
}
#pinContainer {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
}

#slideContainer {
  width: 400%;
  height: 100vh;
}

.panel {
  height: 100vh;
  width: 25%;
  float: left;
  text-align: center;
}

h1 {
  margin-top: 100px;
  display: inline-block;
}

.one {
  /*background-color: #5a2c74;*/
  color: white;
  button {
    display: block;
    margin: 0 auto;
  }
}
.two {
  /*content: url("sky.jpg");*/
  background-color: #ab6eb6;
  color: white;
}
.three {
  background-color: #dd6f96;
  color: white;
  position: relative;
}
.four{
  background-color: #4cb2a5;
  color: #FFF;
}

.horizontal-line {
   border-top: 4px solid #FFF;
   height: 4px;
   width: 0px;
   position: absolute;
}

.sky-img {
<<<<<<< HEAD:horizontal_scroll_style1.css
  /*background-color: #5a2c74;*/
  content: url("sky.jpg");
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}
=======

}

/*
.two {
  background-color: #ab6eb6;
  background: url("sky.jpg");
  background-size: cover;
  color: #5a2c74;
  width: 150%
}
*/

>>>>>>> 28465fbeea1c04eacaec33b4f16f11f50a34b1f1:horizontal_scroll_style.css

.grass-img{
  content: url("grass.png");
  background-size: cover;
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 3;
}

<<<<<<< HEAD:horizontal_scroll_style1.css
#water-drop{
  content:url("waterdrop.png");
  bottom: 0;
  position: fixed;
  z-index: 2;
}

.index2{
  position: fixed;
=======
.tree-img{
  content: url("tree.png");
  width: 30%;
  z-index: 1;
  position: absolute;
  bottom: 30px;
  margin-left: 40%;
}

#water-drop{
  content: url(img/character-sprite.png);
  bottom: 50px;
  position: absolute;
>>>>>>> 28465fbeea1c04eacaec33b4f16f11f50a34b1f1:horizontal_scroll_style.css
  z-index: 2;
  bottom: 10;
}