body {
  margin: 0;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  background-color: #3570e8;
}
#pinContainer {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
}
#slideContainer {
  width: 900%;
  height: 100vh;
}
.panel {
  height: 100vh;
  width: 10%;
  float: left;
  text-align: center;
}

h1 {
  margin-top: 100px;
  display: inline-block;
}

.one {
  /*background-color: #5a2c74;*/
  color: white;
  width: 11%

}
.two {
  /*content: url("sky.jpg");*/
  color: white;
  width: 22%;
  height: 100%;

}
.three {
  background: url("img/filtration.png") no-repeat right;
  background-color: #dd6f96;

  color: white;
  width: 11.5%;
  float: left;

}
.four{
  background: url("img/chemicals.png") no-repeat right bottom;
  background-color: #dd6f96;

  color: #FFF;
  width: 9%
}

.five {
  
  
  background: url("img/candf.png") no-repeat;
  background-color: #dd6f96;
  background-position: 78% 100%;
  background-size: 40%;
  color: white;
  width: 16%;
  float: left;
  display:inline-block

}
.six {
  /*content: url("sky.jpg");*/
  background: url("img/settling.png") repeat-x bottom;
  background-color: #dd6f96;
  color: white;
  width: 8%;
}
.seven {
  background: url("img/polishingtube.png") no-repeat center;
  background-position: 50% 75%;
  background-color: #dd6f96;
  background-size: 45%;
  color: white;
  width: 8%
}
.eight{
  background: url("img/watertower.png") no-repeat right;
  background-size: 40% ;
  color: #FFF;
  width: 11%
}
.nine{

  color: #FFF;
  width: 7.4%
}


.horizontal-line {
   border-top: 4px solid #FFF;
   height: 4px;
   width: 0px;
   position: absolute;
}

.sky-img {
  /*background-color: #5a2c74;*/
/*
  content: url("s ky.jpg");
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
*/
}

.grass-img{
  content: url("grass.png");
  background-size: cover;
  position: absolute;
  bottom: 0;
  height: 50%;
  width: 100%;
  z-index: 3;
}

#water-drop{
  content:url("img/waterdrop.png");
  bottom: 0;
  position: fixed;
  z-index: 2;
  /*width:;*/
}

.tree-img{
  position: fixed;
  z-index: 0;
  bottom: 0;
  content: url("tree.png");
  height: 80%;
}

#intro1{
  content: url("img/text/1.png");
  z-index: 1;
  padding-left: 30%;
}
#intro2{
  content: url("img/text/2.png");
  z-index: 1;
  padding-left: 20%;
  opacity: 0;
}
#intro3{
  content: url("img/text/3.png");
  z-index: 1;
  padding-left: 5%;
  padding-top: 10%;
  opacity: 0;
}

#intro3{
  content: url("img/text/3.png");
  z-index: 1;
  padding-left: 5%;
  padding-top: 5%;
  opacity: 0;
}

#intro4{
  content: url("img/text/4.png");
  z-index: 1;
  padding-left: 5%;
  padding-top: 10%;
  opacity: 0;
}

#intro5{
  content: url("img/text/5.png");
  z-index: 1;
  padding-left: 5%;
  padding-top: 10%;
  opacity: 0;
}

#intro6{
  content: url("img/text/6.png");
  z-index: 1;
  padding-left: 10%;
  padding-top: 10%;
  opacity: 0;
}

#intro7{
  content: url("img/text/7.png");
  z-index: 1;
  padding-top: 10%;
  padding-left: 10%;
  opacity: 0;
}

#intro8{
  content: url("img/text/8.png");
  z-index: 1;
  padding-top: 10%;
  opacity: 0;
}

/*#filtration{
  content: url("img/filtration.png");
  padding-left: 42%;
  margin-bottom: 10px;
  top:-10px;
  height: 550px;
}
*/
.pipe{
  content: url("img/pipe.png");
}

#pout-2{
  height: 200px;
  width: 200px;
  position: absolute;
  right: 0;
  bottom: 0;
}

#pin-3{
  height: 200px;
  width: 930px;
  bottom: 0;
  position: absolute;
}

#pout-3{
  bottom: 0;
  left: 1000px;
    height: 200px;
  width: 1000px;

  position: absolute;
}

#pin-4{
  bottom: 0;
  width: 650px;
  height: 200px;
  position: absolute;
  /*width: 10px;*/
}

#pout-4{

   width: 200px;
  height: 200px;
  position: absolute;
}


#pin-5{
  bottom: 0;
  width: 1000px;
  height: 200px;
  position: absolute;
}

#pout-5{
  bottom: 0;
  left: 1770px;
  width: 300px;
  height: 200px;
  position: relative;
}

#pin-7{
  bottom: 0;
  width: 300px;
  height: 200px;
  position: relative;
}
#pout-7{
  bottom: 200px;
  left:730px;
  width: 300px;
  height: 200px;
  position: relative;
}

#grass-final{
  bottom: 0;
  right: 580px;
  position: absolute;
  z-index: 0;
}
/*#settle{
  content: url("img/settling.png");
  width: 1050px;
  height: 50%;
  bottom: 0;
  position: absolute;
 /* bottom: 0;
  margin-right: 0;
  */